.player-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}



.player-video,
.player-canvas {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
}

.player-canvas {
  z-index: 2; /* On top of video */
  pointer-events: none; /* Let clicks pass through */
}

.shoot-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cc241d;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.shoot-button:hover {
    background-color: #9d0006;
}
